Here is the data from salesforce object.

<div class="container">
    {{#each data}}
  <div class="row">
    <div class="col-sm">
      House Number
    </div>
    <div class="col-sm">
      {{this.number}}
    </div>
    <div class="col-sm">
      Street Name
    </div>
    <div class="col-sm">
      {{this.street}}
    </div>
  </div>
  {{/each}}
</div>