Here is the data from salesforce object.

<div class="container">
  <div class="row">
    <div class="col-sm">
      House Number
    </div>
    <div class="col-sm">
      Data from SF
    </div>
  </div>
</div>